.block {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: fit-content;
  cursor: pointer;
}

.block:hover {
  transform: scale(1.1);
}

.blockSvg {
  width: 150px;
  height: 170px;
  color: transparent;
}

.jss2142 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -91px;
}

.jss2143 {
  height: 0;
  position: absolute;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-width: 0;
  border-top-width: 1px;
  transform-origin: center center;
}

.jss2875 {
  width: 85px;
  border-style: solid;
  box-shadow: none;
}

.jss2875:nth-child(1) {
  transform: translate(-36.8061px, -63.75px) rotate(-30deg);
}

.jss2875:nth-child(2) {
  transform: translateX(-73.6122px) rotate(-90deg);
}

.jss2875:nth-child(3) {
  transform: translate(-36.8061px, 63.75px) rotate(-150deg);
}

.jss2875:nth-child(4) {
  transform: translate(36.8061px, 63.75px) rotate(150deg);
}

.jss2875:nth-child(5) {
  transform: translateX(73.6122px) rotate(90deg);
}

.jss2875:nth-child(6) {
  transform: translate(36.8061px, -63.75px) rotate(30deg);
}

.jss2875:nth-child(7) {
  transform: translate(-36.8061px, -21.25px) rotate(30deg);
}

.jss2875:nth-child(8) {
  transform: translate(36.8061px, -21.25px) rotate(-30deg);
}

.jss2875:nth-child(9) {
  transform: translateY(42.5px) rotate(90deg);
}

.add {
  color: white;
  display: flex;
  position: absolute;
  padding: 10px;
  background: #212121;
  font-size: 30px;
  font-weight: bold;
}
